venv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Environments
.env
.venv
env/
venv*/
ENV/
env.bak/
venv.bak/
.idea
.idea/
.vscode
.vscode/
# some trash files
test
test.py
notes.txt
archives/
# ignore log files and directory in git
**/*.log
logs/

# js file for testing purposes
test.js

# ignore output
out.txt
